{% extends "../layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set documentationPage = "true" %}
{% set notNested = "true" %}

{% block beforeContent %}

<a href="../documentation.html" class="govuk-back-link">Back to Documentation</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
  
    {{ xGovukSubNavigation({
      items: [{
        text: "Defining an API management structure",
        parent: true,
        children: [
        {
          text: "Develop your data and APIs using a reference architecture",
          current: true,
          href: "develop-data"
        },
        {
          text: "Plan your architecture using a maturity model",
          href: "plan"
        },
        {
          text: "Build an architecture that promotes data exchange across government",
          href: "build"
        },
        {
          text: "Reuse applications and common data",
          href: "reuse"
        }, 
        {
          text: "Follow a services and systems model based on data",
          href: "follow"
        }]
      }]
    }) }}
    
    
  </div>
  <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Reference architecture</span>
      <h1 class="govuk-heading-l"> Develop your data and APIs using a reference architecture</h1>

      <p>Use a reference architecture to develop a public sector organisation’s technology and how it shares data across government.</p>
      <p>Use this guidance to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Plan your architecture using a maturity model</li>
        <li>Build an architecture that promotes data exchange across government</li>
      </ul>
      <p>This guidance is a reference architecture. It will help you build your IT infrastructure,
        so it supports operational and analytical processes that focus on using data and
        APIs. It suggests best practices and a maturity model.</p>

      <p>Developing your government organisation’s technical estate can help you to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>reduce your IT spend by increasing functionality, reusability and availability of
          your technology</li>
        <li>reduce government technology lock-in by increasing your organisation’s
          interoperability with other government technology</li>
        <li>reduce the time and money you spend on Freedom of Information requests by
          proactively publishing data</li>
        <li>promote technical innovation across government services by using new
          technologies</li>
        <li>improve the way you communicate across government, by making it easier to
          share data between organisations</li>
        <li>standardise your technology, by helping you understand how different
          technical and data standards fit together</li>
        <li>encourage you to adopt existing open standards, and engage with the
          standards’ development</li>
        <li>move away from document-based processes and systems to those based on
          standardised data, as <a href="https://www.gov.uk/government/publications/uk-national-data-strategy/national-data-strategy#open-data">suggested by the National Data Strategy</a></li>
        <li>encourage cultural change in your organisation by building services that are interoperable with others both inside and outside government</li>
        <li>respond to feedback from users and resolve identified problems</li>
      </ul>

      <p>By following this reference architecture, your services will meet the main requirements of the <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a> and the <a href="https://www.gov.uk/guidance/digital-and-technology-spend-controls-version-5">spend controls process</a>. This does not replace the spend controls process, or the need to go through a <a href="https://www.gov.uk/service-manual/service-assessments">service assessment</a>.</p>

  </div>
</div>

{% endblock %}
