//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import 'node_modules/dfe-frontend/packages/dfefrontend';
@import "node_modules/@ministryofjustice/frontend/moj/components/filter/filter";
@import "node_modules/@ministryofjustice/frontend/moj/objects/filter-layout";

@import "components/hero";
@import "components/inverted-button";
@import "components/page-header";
@import "components/page-hero";
@import "components/masthead";
@import "components/header-items";
@import "components/action-list";
@import "components/split-panel";
@import "components/filter-override";
@import "components/option-select";
@import "components/results-header";


.app-service-standard-point {
    border-top: 1px solid #b1b4b6;
    margin-top: 25px;
    padding-top: 25px;
  }
  
  .app-service-standard-point__title {
    margin-left: 50px;
  }
  
  .app-service-standard-point__number {
    margin-left: -50px;
  }
  
  .app-service-standard-point__details {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  
  .app-service-standard-point:first-child {
    margin-top: 0;
  }


  .results-header-count {
    flex-grow: 1;
}

.results-header-count p{
    margin: 0;
}