{% extends "../layouts/_base.html" %}

{% set headerNavigationActiveItem = "explore" %}
{% set documentationPage = "true" %}
{% set notNested = "true" %}


{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <ul class="govuk-list">
      <li style="padding-bottom: 5px;">
        <strong>Overview</strong>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="landing-page">Best practice government APIs</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="../open-api/api-information">Exemplar API</a>
      </li>
    </ul>
    <ul class="govuk-list">
      <li style="padding-bottom: 5px;">
        <strong>Find government APIs</strong>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="api-catalogue">API catalogue</a>
      </li>
    </ul>
    <ul class="govuk-list">
      <li style="padding-bottom: 5px;">
        <strong>API user cases</strong>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="verify">Verify or prove something</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="status">Get the status of something</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="submit">Submit information to government</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="retrieve">Retrieve information</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="access">Manage access and permissions</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="payments">Handle payments and financial interactions</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">

<h1 class="govuk-heading-l">Retrieve information</h1>

<p>APIs in this category let you get data held by government.</p>

<h3 class="govuk-heading-s">Police API</h3>
<p>This API provides access to UK police data.</p>
<p><a href="">View this API</a></p>

<h3 class="govuk-heading-s">Statistics API </h3>
<p>This API offers programmatic access to datasets from the Office for National Statistics.</p>
<p><a href="">View this API</a></p>


  </div>
</div>

{% endblock %}
