{% extends "../layouts/_base.html" %}

{% set headerNavigationActiveItem = "explore" %}
{% set documentationPage = "true" %}
{% set notNested = "true" %}


{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
  
      <ul class="govuk-list">
        <li style="padding-bottom: 5px;">
          <strong>Overview</strong>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="landing-page">Best practice government APIs</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="../open-api/api-information">Exemplar API</a>
        </li>
      </ul>
      <ul class="govuk-list">
        <li style="padding-bottom: 5px;">
          <strong>Find government APIs</strong>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="api-catalogue">API catalogue</a>
        </li>
      </ul>
      <ul class="govuk-list">
        <li style="padding-bottom: 5px;">
          <strong>API user cases</strong>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="verify">Verify or prove something</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="status">Get the status of something</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="submit">Submit information to government</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="retrieve">Retrieve information</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="access">Manage access and permissions</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="payments">Handle payments and financial interactions</a>
        </li>
      </ul>
      <ul class="govuk-list">
        <li style="padding-bottom: 5px;">
          <strong>Case studies</strong>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="case-studies-1">How Hackney Council built an API Platform</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="case-studies-2">How NHS Digital used API Management to support APIs at scale</a>
        </li>
      </ul>
    </div>
  
  <div class="govuk-grid-column-two-thirds">
  
 <h1 class="govuk-heading-l">Get the status of something</h1>

 <p>These are APIs that let you:</p>

 <ul class="govuk-list govuk-list--bullet">

   <li>track the progress of an application or payment</li>

   <li> check the status of a case or licence</li>

   <li> find out if something has been received or processed</li>
  </ul>

 <h3 class="govuk-heading-s">Track a benefit payment</h3>

 <p>This API provides information about benefit payments.</p>
<p><a href="">View this API</a></p>

 <h3 class="govuk-heading-s">Get vehicle tax status</h3>
 <p>This API provides access to vehicle tax data.</p>
<p><a href="">View this API</a></p>

 <h3 class="govuk-heading-s">Check customs declarations</h3>
 <p>This API allows your to reference customs declarations.</p>
<p><a href="">View this API</a></p>

  </div>
</div>

{% endblock %}
