{% extends "../layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set documentationPage = "true" %}

{% block beforeContent %}

<a href="../documentation.html" class="govuk-back-link">Back to Documentation</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

  
    {{ xGovukSubNavigation({
      items: [{
        text: "API information",
        href: "api-information"
      }, 
      {
        text: "Endpoints",
        href: "/contact",
        parent: true,
        children: [{
          text: "PUT /pet",
          href: "put-pet"
        }, {
          text: "POST /pet",
          href: "post-pet"
        }, {
          text: "GET /pet/findByStatus",
          href: "get-status"
        }, {
          text: "GET /pet/findByTags",
          href: "get-find-tags"
        }, {
          text: "GET /pet/{petId}",
          current: true,
          href: "get-id"
        }, {
          text: "POST /pet/{petId}",
          href: "post-id"
        }, {
          text: "DELETE /pet/{petId}",
          href: "delete-id"
        }, {
          text: "POST /pet/{petId}/uploadImage",
          href: "post-image"
        }, {
          text: "GET /store/inventory
          ",
          href: "get-inventory"
        }, {
          text: "POST /store/order",
          href: "post-order"
        }, {
          text: "GET /store/order/{orderId}
          ",
          href: "get-order"
        }, {
          text: "DELETE /store/order/{orderId}",
          href: "delete-order"
        }, {
          text: "POST /user",
          href: "post-user"
        }, {
          text: "POST /user/createWithList",
          href: "post-wishlist"
        }, {
          text: "GET /user/login",
          href: "get-login"
        }, {
          text: "GET /user/logout",
          href: "get-logout"
        }, {
          text: "GET /user/{username}",
          href: "get-username"
        }, {
          text: "PUT /user/{username}",
          href: "put-username"
        }, {
          text: "DELETE /user/{username}",
          href: "delete-username"
        }
        ]
      } ,
      {
        text: "Security",
        href: "security"
      }]
    }) }}
    
    
  </div>
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">GET /pet/{petId} - Find pet by ID</h1>

      <p><strong>Operation ID:</strong> getPetById</p>
      <p><strong>Description:</strong> Returns a single pet.</p>
    <h4 class="govuk-heading-s">Parameters</h4>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>petId</strong> in path: ID of pet to return (Required: true)</li>
    </ul>
    <h4 class="govuk-heading-s">Responses</h4>
    <div class="response">
      <h5 class="govuk-heading-s">Response 200</h5>
      <p>successful operation</p>
    <h6 class="govuk-heading-s">Content</h6>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>Media Type:</strong> application/json<br>Schema: Reference: #/components/schemas/Pet</li>
    <li><strong>Media Type:</strong> application/xml<br>Schema: Reference: #/components/schemas/Pet</li>
    </ul>
    </div>
    <div class="response">
      <h5 class="govuk-heading-s">Response 400</h5>
      <p>Invalid ID supplied</p>
    </div>
    <div class="response">
      <h5 class="govuk-heading-s">Response 404</h5>
      <p>Pet not found</p>
    </div>
    <div class="response">
      <h5 class="govuk-heading-s">Response default</h5>
      <p>Unexpected error</p>
    <h6 class="govuk-heading-s">Content</h6>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>Media Type:</strong> application/json<br>Schema: Reference: #/components/schemas/Error</li>
    </ul>
    </div>
    </div>
    <div id="endpoint-6" class="endpoint govuk-panel govuk-panel--grey">
      <h3 class="govuk-heading-s"><span class="govuk-tag">POST</span> /pet/{petId} - Updates a pet in the store with form data.</h3>
      <p><strong>Operation ID:</strong> updatePetWithForm</p>
      <p><strong>Description:</strong> Updates a pet resource based on the form data.</p>
    <h4 class="govuk-heading-s">Parameters</h4>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>petId</strong> in path: ID of pet that needs to be updated (Required: true)</li>
    <li><strong>name</strong> in query: Name of pet that needs to be updated (Required: false)</li>
    <li><strong>status</strong> in query: Status of pet that needs to be updated (Required: false)</li>
    </ul>
    <h4 class="govuk-heading-s">Responses</h4>
    <div class="response">
      <h5 class="govuk-heading-s">Response 200</h5>
      <p>successful operation</p>
    <h6 class="govuk-heading-s">Content</h6>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>Media Type:</strong> application/json<br>Schema: Reference: #/components/schemas/Pet</li>
    <li><strong>Media Type:</strong> application/xml<br>Schema: Reference: #/components/schemas/Pet</li>
    </ul>
    </div>
    <div class="response">
      <h5 class="govuk-heading-s">Response 400</h5>
      <p>Invalid input</p>
    </div>
    <div class="response">
      <h5 class="govuk-heading-s">Response default</h5>
      <p>Unexpected error</p>
    <h6 class="govuk-heading-s">Content</h6>
    <ul class="govuk-list govuk-list--bullet">
    <li><strong>Media Type:</strong> application/json<br>Schema: Reference: #/components/schemas/Error</li>
    </ul>
  </div>
</div>

{% endblock %}
