.results-header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.results-header-count {
    flex-grow: 1;
}

.results-header-count p{
    margin: 0;
}

.results-header-sort label {
    margin: 0;
}

.results-header-sort .govuk-form-group {
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
}