{% extends "../layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set documentationPage = "true" %}

{% block beforeContent %}

<a href="../documentation.html" class="govuk-back-link">Back to Documentation</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

  
    {{ xGovukSubNavigation({
      items: [{
        text: "API information",
        href: "api-information"
      }, 
      {
        text: "Endpoints",
        href: "/contact",
        parent: true,
        children: [{
          text: "PUT /pet",
          href: "put-pet"
        }, {
          text: "POST /pet",
          href: "post-pet"
        }, {
          text: "GET /pet/findByStatus",
          href: "get-status"
        }, {
          text: "GET /pet/findByTags",
          href: "get-find-tags"
        }, {
          text: "GET /pet/{petId}",
          href: "get-id"
        }, {
          text: "POST /pet/{petId}",
          href: "post-id"
        }, {
          text: "DELETE /pet/{petId}",
          href: "delete-id"
        }, {
          text: "POST /pet/{petId}/uploadImage",
          href: "post-image"
        }, {
          text: "GET /store/inventory
          ",
          href: "get-inventory"
        }, {
          text: "POST /store/order",
          href: "post-order"
        }, {
          text: "GET /store/order/{orderId}
          ",
          href: "get-order"
        }, {
          text: "DELETE /store/order/{orderId}",
          href: "delete-order"
        }, {
          text: "POST /user",
          href: "post-user"
        }, {
          text: "POST /user/createWithList",
          href: "post-wishlist"
        }, {
          text: "GET /user/login",
          href: "get-login"
        }, {
          text: "GET /user/logout",
          href: "get-logout"
        }, {
          text: "GET /user/{username}",
          href: "get-username"
        }, {
          text: "PUT /user/{username}",
          href: "put-username"
        }, {
          text: "DELETE /user/{username}",
          href: "delete-username"
        }
        ]
      },
      {
        text: "Security",
        current: true,
        href: "security"
      }
      ]
    }) }}
    
    
  </div>
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l"> Security</h1>

      <div class="security-schemes">
        <h2 class="govuk-heading-m">Security Schemes</h2>
        <p><strong>petstore_auth</strong> (oauth2)<br>
        </p>
        <p><strong>api_key</strong> (apiKey)<br>
        API Key: Use header <code>api_key</code></p>
        </div>
  </div>
</div>

{% endblock %}
