{% extends "../layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set documentationPage = "true" %}
{% set notNested = "true" %}

{% block beforeContent %}

<a href="../task-list-1.html" class="govuk-back-link">Back to API guidance</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">
  
    {{ xGovukSubNavigation({
      items: [{
        text: "Design your API",
        parent: true,
        children: [
        {
          text: "API discovery",
          href: "api-discovery"
        },
        {
          text: "Check for existing APIs",
          current: true,
          href: "check-for-existing-apis"
        },
        {
          text: "Design your API first",
          href: "design-your-api-first"
        },
        {
          text: "Follow the Technology Code of Practice and other standards",
          href: "code-of-practice"
        }, 
        {
          text: "Use the REST API style",
          href: "restful-api"
        }, 
        {
          text: "Develop a specification before you start to code",
          href: "develop-specification"
        }, 
        {
          text: "Be secure by design",
          href: "be-secure-by-design"
        }, 
        {
          text: "Test your assumptions with users",
          href: "test-assumptions-with-users"
        }, 
        {
          text: "Iterate the design based on feedback",
          href: "iterate-based-on-feedback"
        }]
      }]
    }) }}
    
  </div>

  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Design your API</span>
      <h1 class="govuk-heading-l">Check for existing APIs</h1>

      <p>It’s faster and simpler to reuse an existing API than build one from scratch. You should only build a new API when necessary. </p>
      <p>You can check if there are existing internal, external or commercially available APIs by looking at internal API catalogues and the <a href="https://www.api.gov.uk/#uk-public-sector-apis">cross-government UK API Catalogue</a>.</p>
      <p>Make sure that any API you choose will have the right functionality to work for your use case. You must also check the licence it is provided under, to make sure you are able to use it in your service. For example, an open API provided under an <a href="https://spdx.org/licenses/">open licence</a> can be used with few restrictions, but commercial APIs may have usage limits.</p>
      
      <div class="x-govuk-related-navigation">
        <nav class="x-govuk-related-navigation__nav-section" role="navigation" aria-labelledby="related-navigation-related-content">
          <h2 class="x-govuk-related-navigation__main-heading" id="related-navigation-related-content">
            More information
          </h2>
          <ul class="x-govuk-related-navigation__link-list">
            <li class="x-govuk-related-navigation__link">
              Read more about <a class="govuk-link x-govuk-related-navigation__section-link x-govuk-related-navigation__section-link--other" href="https://www.gov.uk/service-manual/technology/making-source-code-open-and-reusable#licensing-your-code">using open licences for government services</a>
            </li>
          </ul>
        </nav>
      </div>

  </div>
</div>

{% endblock %}
