{% extends "../layouts/_base.html" %}

{% set nestedPage = "true" %}
{% set headerNavigationActiveItem = "patterns" %}
{% set documentationPage = "true" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <ul class="govuk-list">
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="consistency">Consistency in design</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="versioning">Versioning</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="auth">Authentication and authorisation</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="error">Error handling</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="rate">Rate limiting</a>
        </li>
        <li style="padding-bottom: 5px;">
          <a class="govuk-link" href="data">Data validation</a>
        </li>
        <li style="padding-bottom: 5px;">
            <a class="govuk-link" href="scale">Scalability</a>
          </li>
          <li style="padding-bottom: 5px;">
            <a class="govuk-link" href="doc">Documentation</a>
          </li>
          <li style="padding-bottom: 5px;">
            <a class="govuk-link" href="caching">Caching</a>
          </li>
          <li style="padding-bottom: 5px;">
            <a class="govuk-link" href="security">Security</a>
          </li>
      </ul>
  </div>

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Authentication and authorisation</h1>
    <h3 class="govuk-heading-m">Why it's important</h3>
    <p>Authentication and authorisation are fundamental to securing your API. They ensure that only authorized users can access the API and perform specific actions, protecting sensitive data and preventing unauthorised access.</p>
    <h3 class="govuk-heading-m">What it means</h3>
    <ul class="govuk-list govuk-list--bullet">
        <li>Use <strong>OAuth 2.0</strong> for secure authorisation and user identity verification.</li>
        <li>Implement <strong>JWT (JSON Web Tokens)</strong> for token-based authentication.</li>
        <li>Use <strong>Role-Based Access Control (RBAC)</strong> to control access to specific resources based on the user’s role (e.g., admin, user).</li>
    </ul>
</div>
</div>
{% endblock %}