{% extends "./layouts/_base.html" %}

{% set headerNavigationActiveItem = "get started" %}
{% set questionPage = "true" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="check-answers" novalidate method="post">

    {{ govukRadios({
      name: "anotherQuestion",
      fieldset: {
        legend: {
          text: "What could another relevant question be?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: [
        {
          value: "Example answer 1",
          text: "Example answer 1"
        },
        {
          value: "Example answer 2",
          text: "Example answer 2"
        },
        {
          value: "Example answer 3",
          text: "Example answer 3"
        },
        {
          value: "Example answer 4",
          text: "Example answer 4"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    
  </form>
  </div>
</div>

{% endblock %}
