{% extends "./layouts/_base.html" %}

{% set questionPage = "false" %}
{% set nestedPage = "false" %}
{% set headerNavigationActiveItem = "documentation" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">API maturity self-assessment</h1>

    <p>You can use this tool to measure, understand improve your API maturity level.</p>

    <h2 class="govuk-heading-m">What is an API Maturity level</h2>

    <p>APIs allow applications to communicate with each other to share data across
government and beyond. To ensure fast, secure, and scalable you will need to
understand API maturity levels.</p>
<p>An API can have four maturity levels, the lowest being Level 0 and the highest being
Level 3. API maturity levels are important because they provide a structured
framework for assessing and improving the quality, functionality, and security of APIs
making them easier to manage and consume.</p>
<p>Find resources and support for your API maturity development in the <a href="index">Government
Digital service API hub</a>.</p>

{{ govukButton({
  text: "Start now",
  href: "#",
  isStartButton: true
}) }}

  
  </div>
</div>

{% endblock %}
