{% extends "./layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set questionPage = "false" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Documentation</h1>

    <p>Choose an area of documentation.</p>

    {% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}
  {{ card({
      cards: [
          {
              "imageCard": false,
              "imagePath": "/images/sample-image.jpg",
              "altText": "API guidance",
              "headingLevel": "3",
              "linkCard": true,
              "link": "task-list-1",
              "openInNewTab": false,
              "heading": "API guidance",
              "description": "An overview of designing, building and operating APIs.",
              "meta": ""
          },
          {
            "imageCard": false,
            "imagePath": "/images/sample-image.jpg",
            "altText": "Sample Image",
            "headingLevel": "3",
            "linkCard": true,
            "link": "reference-architecture/develop-data",
            "openInNewTab": false,
            "heading": "Reference architecture",
            "description": "A short description for the card.",
            "meta": ""
        },
        {
          "imageCard": false,
          "imagePath": "/images/sample-image.jpg",
          "altText": "Overview of API information",
          "headingLevel": "3",
          "linkCard": true,
          "link": "#",
          "openInNewTab": false,
          "heading": "OpenAPI specification template",
          "description": "A short description for the card.",
          "meta": ""
      }
      ]
  }) }}

  </div>
</div>

{% endblock %}
