{% extends "./layouts/homepage.html" %}
{% set nestedPage = "false" %}


{% block content %}

<section style="background-color:#ffffff;" class="govuk-!-padding-top-7">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-!-margin-top-3 govuk-!-margin-bottom-5">
                    <div class="govuk-grid-row split-panel" style="background: #f3f2f1;">
                        <div class="govuk-grid-column-one-half text-column">
                            <h2 class="govuk-heading-l govuk-!-margin-top-3">API maturity self assessment tool</h2>
                            <p class="govuk-body">You can use this tool to measure, understand improve your API maturity level.</p>
                                
                                <p class="govuk-body">APIs allow applications to communicate with each other to share data across
                                    government and beyond. To ensure fast, secure, and scalable you will need to
                                    understand your API maturity level.</p>
                            <p class="govuk-!-margin-bottom-0">
                                <a href="api-maturity" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">View
                                    the tool</a>
                            </p>
                        </div>
                        <div class="govuk-grid-column-one-half image-column">
                            <div class="image-container" style="background-image: url('/public/images/api.jpg');">
                                <img src="/assets/images/strategy.png" alt="" class="govuk-!-margin-top-5 roadmap-icon" style="width: 70%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
