{% extends "./layouts/homepage.html" %}



{% block content %}

<h2 class="govuk-heading-l">Value proposition 1</h2>

<p>Here's some content that explains more about value proposition 1 and the benefits it brings</p>

<h2 class="govuk-heading-l">Value proposition 2</h2>

<p>Here's some content that explains more about value proposition 2 and the benefits it brings</p>

<h2 class="govuk-heading-l">Value proposition 3</h2>

<p>Here's some content that explains more about value proposition 3 and the benefits it brings</p>

{% endblock %}
