{% extends "./layouts/homepage.html" %}



{% block content %}

<h2 class="govuk-heading-l">Design</h2>

<p>Here's some content that explains more about value proposition 1 and the benefits it brings</p>
<p><a href="">Find out more</a> </p>

<h2 class="govuk-heading-l">Build</h2>

<p>Here's some content that explains more about value proposition 2 and the benefits it brings</p>
<p><a href="">Find out more</a> </p>

<h2 class="govuk-heading-l">Consume APIs</h2>

<p>Here's some content that explains more about value proposition 3 and the benefits it brings</p>
<p><a href="">Find out more</a> </p>

{% endblock %}
