{% extends "./layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set questionPage = "false" %}

{% block beforeContent %}

<a href="documentation" class="govuk-back-link">Back to Documentation</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">API guidance</h1>

      <p>Find out more about API best practice.</p>

      {% from "govuk/components/task-list/macro.njk" import govukTaskList %}

      <h2 class="govuk-heading-m">Design your API</h2>

{{ govukTaskList({
  idPrefix: "company-details",
  items: [
  {
    title: {
      text: "API discovery"
    },
    href: "design/api-discovery"
  },
    {
      title: {
        text: "Check for existing APIs"
      },
      href: "design/check-for-existing-apis"
    },
    {
      title: {
        text: "Design your API first"
      },
      href: "#"
    },
    {
      title: {
        text: "Follow the Technology Code of Practice and other standards"
      },
      href: "#"
    },
    {
      title: {
        text: "Use the REST API style"
      },
      href: "#"
    },
    {
      title: {
        text: "Develop a specification before you start to code"
      },
      href: "#"
    },
    {
      title: {
        text: "Be secure by design"
      },
      href: "#"
    },
    {
      title: {
        text: "Test your assumptions with users"
      },
      href: "#"
    },
    {
      title: {
        text: "Iterate the design based on feedback"
      },
      href: "#"
    }
  ]
}) }}

<h2 class="govuk-heading-m">Build your API</h2>

{{ govukTaskList({
  idPrefix: "company-details",
  items: [
  {
    title: {
      text: "Use the UTF-8 standard to encode your API"
    },
    href: "build/utf-8"
  },
    {
      title: {
        text: "Use JSON for response formats"
      },
      href: "build/json-response-formats"
    },
    {
      title: {
        text: "Use consistent names for resources"
      },
      href: "build/consistent-names"
    },
    {
      title: {
        text: "Make your resources persistent"
      },
      href: "build/resources-persistent"
    },
    {
      title: {
        text: "Use standard HTTP responses"
      },
      href: "build/standard-http-responses"
    },
    {
      title: {
        text: "Host your API"
      },
      href: "build/host-api"
    },
    {
      title: {
        text: "Control access to your API"
      },
      href: "build/control-access"
    },
    {
      title: {
        text: "Secure your API"
      },
      href: "build/secure-api"
    },
    {
      title: {
        text: "Consider performance and scalability"
      },
      href: "build/performance"
    },
    {
      title: {
        text: "Provide an API test service"
      },
      href: "build/test-service"
    },
    {
      title: {
        text: "Test your API’s compliance"
      },
      href: "build/compliance"
    },
    {
      title: {
        text: "Document your APIs"
      },
      href: "build/document"
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
