{% extends "./layouts/_base.html" %}

{% set questionPage = "false" %}
{% set nestedPage = "false" %}
{% set headerNavigationActiveItem = "documentation" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <ul class="govuk-list">
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="about-apis">What is an API?</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="apis-in-gov">How APIs are used in government</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="apis-need-to-know">What you need to know</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="apis-get-starts">How to get started</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="api-checklist">API checklist</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="api-glossary">Glossary of terms</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">What you need to know</h1>

    <p>You don’t need to be a developer to understand APIs — but here are some key terms:</p>
    <ul class="govuk-list govuk-list--bullet">

    <li>Endpoint – the address where an API is accessed (like a URL)</li>

    <li>Request – when your service asks for data from an API</li>

    <li>Response – what the API sends back</li>

    <li>Authentication – how an API checks who you are</li>

    <li>Documentation – guidance on how to use the API</li>
  </ul>

    <p>Most APIs use formats like JSON and follow standard design approaches such as REST.</p>
      
  </div>
</div>

{% endblock %}
