{% extends "./layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set questionPage = "false" %}
{% set nestedPage = "false" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your results</h1>

      <p>Based on the information you've given us, this is the information you need to review.</p>

      <h2 class="govuk-heading-m">Build your API</h2>

{{ govukTaskList({
  idPrefix: "company-details",
  items: [
  {
    title: {
      text: "Use the UTF-8 standard to encode your API"
    },
    href: "build/utf-8"
  },
    {
      title: {
        text: "Use JSON for response formats"
      },
      href: "build/json-response-formats"
    },
    {
      title: {
        text: "Use consistent names for resources"
      },
      href: "build/consistent-names"
    },
    {
      title: {
        text: "Make your resources persistent"
      },
      href: "build/resources-persistent"
    },
    {
      title: {
        text: "Use standard HTTP responses"
      },
      href: "build/standard-http-responses"
    },
    {
      title: {
        text: "Host your API"
      },
      href: "build/host-api"
    },
    {
      title: {
        text: "Control access to your API"
      },
      href: "build/control-access"
    },
    {
      title: {
        text: "Secure your API"
      },
      href: "build/secure-api"
    },
    {
      title: {
        text: "Consider performance and scalability"
      },
      href: "build/performance"
    },
    {
      title: {
        text: "Provide an API test service"
      },
      href: "build/test-service"
    },
    {
      title: {
        text: "Test your API’s compliance"
      },
      href: "build/compliance"
    },
    {
      title: {
        text: "Document your APIs"
      },
      href: "build/document"
    }
  ]
}) }}

  </div>
</div>

{% endblock %}
