{% extends "./layouts/_base.html" %}

{% set headerNavigationActiveItem = "documentation" %}
{% set questionPage = "false" %}
{% set nestedPage = "false" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Your results</h1>

      <p>Based on the information you've given us, this is the information you need to review.</p>

      <h2 class="govuk-heading-m">Operate your API</h2>

      {{ govukTaskList({
        idPrefix: "company-details",
        items: [
        {
          title: {
            text: "Version your API and support older versions
            "
          },
          href: "operate/version"
        },
          {
            title: {
              text: "Use an API management system or gateway
              "
            },
            href: "operate/management-system"
          },
          {
            title: {
              text: "Log your API’s use
              "
            },
            href: "operate/log-use"
          },
          {
            title: {
              text: "Monitor APIs for unusual activity
              "
            },
            href: "operate/monitor"
          }
        ]
      }) }}

  </div>
</div>

{% endblock %}
