{% extends "./layouts/_base.html" %}

{% set questionPage = "false" %}
{% set nestedPage = "false" %}
{% set headerNavigationActiveItem = "documentation" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <ul class="govuk-list">
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="make-your-api-better">Make your API better</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="follow-ref-arc">Follow government reference architecture</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="improve-api-design">Improve your API design</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="use-api-mgmt-tools">Use API management tools</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="improve-documentation">Improve your documentation</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="plan-for-lifecycle">Plan for lifecycle and governance</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="make-api-discoverable">Make your API discoverable</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Improve your documentation</h1>
    <p class="govuk-body">Clear documentation reduces support and helps developers get started faster. Include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Plain English overview of what the API does</li>
      <li>Authentication instructions</li>
      <li>Example requests and responses</li>
      <li>Full schema or downloadable OpenAPI spec</li>
      <li>Known errors and how to handle them</li>
      <li>Contact details and support options</li>
    </ul>

    <p class="govuk-body">
      Host documentation on a public developer portal and link to it from your API listing in the catalogue.
    </p>

    <p>You can use the <a href="documentation-generator">documentation generator tool</a> to help improve your documentation.</p>

   
  </div>
</div>

{% endblock %}
