{% extends "./layouts/_base.html" %}

{% set questionPage = "false" %}
{% set nestedPage = "false" %}
{% set headerNavigationActiveItem = "documentation" %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <ul class="govuk-list">
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-user-need">Understand the user need</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-check">Check if an API already exists</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-plan-design">Plan your API design</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-auth">Plan authentication and security</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-test-env">Build a test environment</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-documentation">Write clear, complete documentation</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-publish">Publish and support your API</a>
      </li>
      <li style="padding-bottom: 5px;">
        <a class="govuk-link" href="new-api-lifecycle">Plan for lifecycle and change</a>
      </li>
    </ul>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Publish and support your API</h1>
    <p class="govuk-body">Once your API is ready, you should publish it and make sure it can be found, accessed and supported over time.</p>

    <h2 class="govuk-heading-m">Why this matters</h2>
    <p class="govuk-body">Publishing your API allows others to find and use it. Good support and monitoring help ensure it remains reliable and trusted.</p>

    <h2 class="govuk-heading-m">What to do</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>List your API in the <a href="https://www.api.gov.uk/catalogue" class="govuk-link">GOV.UK API Catalogue</a></li>
      <li>Include a short, clear description of what the API does</li>
      <li>Make sure the listing includes documentation and support contact details</li>
      <li>Set up monitoring for availability, performance and error rates</li>
      <li>Track how the API is being used and by whom</li>
    </ul>

    <h2 class="govuk-heading-m">Set up support</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Provide a support email address or ticketing system</li>
      <li>Monitor for common issues or frequently asked questions</li>
      <li>Be clear about support hours and service level expectations</li>
      <li>Publish changes and fixes in a changelog or update log</li>
    </ul>

    <div class="govuk-inset-text">
      Make it easy for users to ask questions, request access, or report bugs.
    </div>
  </div>
</div>

{% endblock %}
